*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}
body{
    background-color: rgb(5, 17, 17);
    display:flex;
    justify-content : center;
    align-items: center;
    height: 100vh;
}
h1{
    color : white;
    font-size : 3rem;
    font-family: sans-serif;
    border : solid 2px white;
    padding: 100px;
}